@import "variables.scss";

.article-wrapper-side {
  @include FLEX-CENTER;
  padding: 0.5vw;
  margin: 10px 0;
  cursor: pointer;

  transition: all 300ms ease;
  border-radius: 20px;
  &:hover {
    transform: scale(1.02);
    background-color: $lightx2-blue;
    filter: $drop-shadow;
  }
  .article-img {
    position: relative;
    > img {
      width: rem(200);
      height: rem(150);
      border-radius: 1.5em;
      @media (max-width: 1000px) {
        width: 15rem;
        height: 9rem;
      }
      @media (max-width: 480px) {
        width: 12rem;
        height: 8rem;
      }
    }
  }

  .article-level {
    width: rem(30);
    height: rem(30);
    border-radius: 28px;
    color: #fff;
    font-size: rem(16);
    font-weight: 600;
    font-family: $eng-title-font;
    font-style: initial;
    position: absolute;
    @include FLEX-CENTER;
    top: 15px;
    left: 15px;

    &.Alv {
      background-color: $Alv;
    }
    &.Blv {
      background-color: $Blv;
    }
    &.Clv {
      background-color: $Clv;
    }
  }
  .article-category {
    float: right;
    i {
      cursor: auto;
    }
  }
  .sub {
    margin-left: rem(7);
    color: $blue;
    background-color: rgba($color: $soft-blue, $alpha: 0.3);
    border: 1px solid $soft-blue;
    i {
      font-size: 0.7rem;
      margin-right: 5px;
    }
    @media (max-width: 480px) {
      font-size: 0.6rem;
      padding: 1px 3px;
      border-radius: 4px;
    }
  }
  .article-info-desc {
    margin: 0 4%;
    width: 100%;
    @media (max-width: 1000px) {
      width: 50%;
    }
    @media (max-width: 480px) {
      width: 100%;
    }
    .article-title {
      font-family: $eng-fontB;
      font-weight: 800;
      font-size: 1.3rem;
      color: $dark-grey;
      margin-bottom: 3%;
      @include TEXT-OVERFLOW;
      @media (max-width: 480px) {
        -webkit-line-clamp: 1;
        font-size: 1.1rem;
      }
    }
    .article-content {
      font-family: $eng-font;
      white-space: normal;
      line-height: 1.1rem;
      color: $grey;
      @include TEXT-OVERFLOW;
      margin: 10px 0;
    }
  }
}
