@import "variables.scss";

.article-wrapper-side {
  @include FLEX-CENTER;
  padding: 0.5vw;
  margin: 10px 0;

  cursor: pointer;
  transition: all 300ms ease;
  border-radius: 20px;
  &:hover {
    transform: scale(1.02);
    background-color: $lightx2-blue;
    filter: $drop-shadow;
  }
  .article-img {
    position: relative;
    > img {
      height: 9vw;
      border-radius: 1.5em;
      @media (max-width: 1000px) {
        width: 15rem;
        height: 9rem;
      }
      @media (max-width: 480px) {
        width: 12rem;
        height: 8rem;
      }
    }
  }
  .article-level {
    top: 7%;
    left: 5%;
    width: 1.7rem;
    height: 1.7rem;
    font-size: 1rem;
  }
  .article-category {
    float: right;
  }
  .article-info-desc {
    margin: 0 4%;
    width: 25vw;
    @media (max-width: 1000px) {
      width: 50%;
    }
    @media (max-width: 480px) {
      width: 100%;
    }
    .article-title {
      font-family: $eng-fontB;
      font-weight: 800;
      font-size: 1.3rem;
      margin-bottom: 3%;
      @include TEXT-OVERFLOW;
      @media (max-width: 480px) {
        -webkit-line-clamp: 1;
        font-size: 1.1rem;
      }
    }
    .article-content {
      font-family: $eng-font;
      white-space: normal;
      line-height: 1.1rem;
      color: $grey;
      @include TEXT-OVERFLOW;
      margin: 10px 0;
    }
  }
}
