@import "variables.scss";

.newsdetail-container {
  padding: 120px 80px 80px 160px;
  @include STRETCH;
  background-color: #fbfbfb;
  display: flex;

  @media (max-width: 480px) {
    padding: 80px 13px;
    flex-direction: column;
  }

  .back-btn-wrapper {
    margin-right: rem(25);
    .back-btn {
      width: 20px;
      height: 20px;
      border-top: 4px solid $dark-grey;
      border-left: 4px solid $dark-grey;
      transform: rotate(-45deg);
      content: "";
      background-color: transparent;
      border-color: $dark-grey;
      border-radius: 2px;
    }

    @media (max-width: 480px) {
      margin-bottom: rem(25);
    }
  }

  .newsdetail-content-div {
    @include FLEX-COLUMN;
    width: 100%;
    font-family: $eng-font;

    .news-subtitle {
      font-size: rem(20);
      color: $default-grey;
      font-family: $eng-title-font;
      margin-top: rem(60);
      width: 100%;

      @media (max-width: 480px) {
        font-size: rem(30);
      }

      &.change {
        @media (max-width: 480px) {
          background-color: $lightx2-blue;
          padding: 10px 0;
          text-align: center;
          margin-top: rem(40);
          font-size: rem(20);
        }
      }
    }

    .news-section {
      border-radius: 20px;
      width: 100%;
      @include FLEX-COLUMN;
      background-color: #fff;
      box-shadow: $light-shadow;
      padding: rem(25) rem(40);

      .news-title {
        @include FLEX-CENTER;
        font-size: rem(32);
        font-family: $eng-fontB;
      }

      .news-title-level {
        width: rem(40);
        height: rem(40);
        border-radius: 45px;
        @include FLEX-CENTER;
        color: $white;
        font-size: rem(20);
        font-family: $eng-title-font;
        &.Alv {
          background-color: $Alv;
        }
        &.Blv {
          background-color: $Blv;
        }
        &.Clv {
          background-color: $Clv;
        }
      }

      .news-date {
        font-size: rem(14);
        color: #b7b7b7;
        text-align: center;
        margin-top: rem(8);

        @media (max-width: 480px) {
          text-align: initial;
          @include FLEX-ALIGN-CENTER;
          justify-content: flex-end;
        }
      }

      .news-hot-word {
        width: 100%;
        display: flex;
        align-items: center;

        .words-container {
          width: 75%;
          @include FLEX-ALIGN-CENTER;
          flex-wrap: wrap;
          margin-top: rem(10);

          .word-drug {
            font-size: rem(20);
            font-family: $eng-font;
            padding: rem(10) rem(30);
            border-radius: 10px;
            background-color: $light-blue;
            margin-right: 15px;
            margin-top: 10px;

            &.on {
              background-color: darken($light-blue, 10%);
            }
          }

          @media (max-width: 480px) {
            width: 100%;
          }
        }

        .word-mean-container {
          @include FLEX-COLUMN;
          width: 100%;
          font-family: $eng-font;
          margin-top: 24px;

          .word-mean-title {
            font-weight: bold;
            font-size: rem(22);
            line-height: 2;
          }

          .word-mean {
            font-size: rem(20);
            font-weight: initial;
          }
        }

        @media (max-width: 480px) {
          flex-direction: column;
        }
      }
      .newsdetail-thumbnail-wrapper {
        margin-top: rem(10);
        @include FLEX-CENTER;
        width: 100%;
        .newsdetail-thumbnail {
          width: 60%;
          @media (max-width: 480px) {
            width: 100%;
          }
        }
      }

      .news-article {
        margin-top: rem(60);
        font-family: $eng-font;
        font-size: rem(20);
        line-height: 2;

        .important-word {
          color: $light-blue;
        }
      }
    }

    .related-article-section {
      @include FLEX-COLUMN;

      .news-card-wrapper {
        @include FLEX-BETWEEN;
        flex-wrap: wrap;
      }
    }
  }
}

.functions-container {
  @include FLEX-ALIGN-CENTER;
  justify-content: flex-end;
  width: 25%;

  .icon-row {
    @include FLEX-COLUMN;
    align-items: center;
    color: $default-grey;
    i {
      background-color: $white;
      box-shadow: $light-shadow;
      width: rem(60);
      height: rem(60);
      border-radius: 100px;
      @include FLEX-CENTER;
      font-size: rem(25);
    }
    .icon-desc {
      color: #585858;
      font-size: rem(22);
      font-family: $kor-font;
      font-size: 10px;
      margin-top: rem(10);

      @media (max-width: 480px) {
        display: none;
      }
    }

    @media (max-width: 480px) {
      margin-left: 75px;
    }
  }
  .icon-row + .icon-row {
    margin-left: rem(15);
  }

  @media (max-width: 480px) {
    width: 100%;
    margin-top: rem(30);
  }
}
