@import "variables.scss";

.newsdetail-container {
  padding: 120px 80px 80px 160px;
  @include STRETCH;
  display: flex;

  @media (max-width: 480px) {
    padding: 80px 13px;
    flex-direction: column;
  }

  .newsdetail-content-div {
    @include FLEX-COLUMN;
    width: 100%;
    min-height: 100vh;
    font-family: $eng-font;

    .news-subtitle {
      font-size: rem(20);
      font-family: $eng-title-font;
      margin-top: rem(60);
      width: 100%;

      @media (max-width: 480px) {
        font-size: rem(30);
      }

      &.change {
        @media (max-width: 480px) {
          background-color: $lightx2-blue;
          padding: 10px 0;
          text-align: center;
          margin-top: rem(40);
          font-size: rem(20);
        }
      }
    }

    .news-section {
      border-radius: 20px;
      width: 100%;
      @include FLEX-COLUMN;
      background-color: #fff;
      box-shadow: $light-shadow;
      padding: rem(25) rem(75);

      @media (max-width: 480px) {
        padding: rem(25) rem(25);
      }

      .news-title {
        filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.3));
        @include FLEX-CENTER;
        font-size: rem(28);
        font-family: $eng-title-font;
      }

      .news-title-level {
        width: rem(40);
        height: rem(40);
        border-radius: 45px;
        @include FLEX-CENTER;
        color: $white;
        font-size: rem(20);
        font-family: $eng-title-font;
        flex-shrink: 0;
        margin-right: rem(20);

        @media (max-width: 480px) {
          width: rem(30);
          height: rem(30);
          padding: rem(3);
        }
        &.Alv {
          background-color: $Alv;
        }
        &.Blv {
          background-color: $Blv;
        }
        &.Clv {
          background-color: $Clv;
        }
      }

      .news-date {
        font-size: rem(14);
        color: #b7b7b7;
        text-align: center;
        margin-top: rem(8);

        @media (max-width: 480px) {
          text-align: initial;
          @include FLEX-ALIGN-CENTER;
          justify-content: flex-end;
        }
      }

      .news-hot-word {
        width: 100%;
        display: flex;
        align-items: center;

        .words-container {
          width: 75%;
          @include FLEX-ALIGN-CENTER;
          flex-wrap: wrap;
          margin-top: rem(10);

          .word-drug {
            font-size: rem(18);
            font-family: $eng-font;
            font-weight: 500;
            padding: rem(8) rem(20);
            border-radius: 10px;
            background-color: $light-blue;
            margin-right: 15px;
            margin-top: 10px;
            position: relative;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
              background-color: darken($light-blue, 10%);
            }

            .word-drug-empty {
              position: fixed;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }

            .word-drug-trans-container {
              display: none;
            }
            &.on {
              background-color: darken($light-blue, 10%);

              .word-drug-trans-container {
                @include FLEX-ALIGN-CENTER;
                transition: 0.3s ease;
                color: #fff;
                position: absolute;
                top: -55px;
                right: -20px;
                min-width: 100px;
                text-align: center;
                .word-drug-balloon {
                  padding: 12px;
                  position: relative;
                  background: #3f414b;
                  @include FLEX-ALIGN-CENTER;
                  border-radius: 0.4em;
                  white-space: nowrap;
                  font-size: rem(14);

                  &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 25%;
                    width: 0;
                    height: 0;
                    border: 15px solid transparent;
                    border-top-color: #3f414b;
                    border-bottom: 0;
                    margin-left: -10px;
                    margin-bottom: -10px;
                  }
                }
              }
            }
          }

          @media (max-width: 480px) {
            width: 100%;
          }
        }

        @media (max-width: 480px) {
          flex-direction: column;
        }
      }
      .newsdetail-thumbnail-wrapper {
        margin-top: rem(20);
        @include FLEX-CENTER;
        width: 100%;
        .newsdetail-thumbnail {
          border-radius: 15px;
          width: 60%;
          @media (max-width: 480px) {
            width: 100%;
          }
        }
      }

      .news-article {
        margin-top: rem(60);
        font-family: $eng-font;
        font-size: rem(20);
        line-height: 2;

        .important-word {
          color: $light-blue;
        }
      }
    }

    .related-article-section {
      @include FLEX-COLUMN;

      .news-card-wrapper {
        @include FLEX-BETWEEN;
        flex-wrap: wrap;
      }
    }

    .newsdetail-content-footer {
      width: 100%;
      font-family: $kor-font;
      margin-top: rem(30);
      color: $grey;
      @include FLEX-ALIGN-CENTER;
      justify-content: flex-end;
    }
  }
}

.functions-container {
  @include FLEX-ALIGN-CENTER;
  justify-content: flex-end;
  width: 25%;

  .icon-row {
    @include FLEX-COLUMN;
    align-items: center;
    color: $default-grey;
    i {
      background-color: $white;
      box-shadow: $light-shadow;
      width: rem(60);
      height: rem(60);
      border-radius: 100px;
      @include FLEX-CENTER;
      font-size: rem(25);
      &.active {
        color: $soft-blue;
      }
    }
    .icon-desc {
      color: #585858;
      font-size: rem(22);
      font-family: $kor-font;
      font-size: 10px;
      margin-top: rem(10);

      @media (max-width: 480px) {
        display: none;
      }
    }

    @media (max-width: 480px) {
      margin-left: 75px;
    }
  }
  .icon-row + .icon-row {
    margin-left: rem(15);
  }

  @media (max-width: 480px) {
    width: 100%;
    margin-top: rem(30);
  }
}

.news-voca-container {
  @include FLEX-COLUMN;
  width: 100%;

  .news-selectedword-kor {
    font-family: $kor-font;
    margin-top: rem(10);
    @media (max-width: 480px) {
      font-size: 18px;
    }
  }

  .selectedword-addbtn {
    cursor: pointer;
    width: rem(20);
    height: rem(20);
    font-size: rem(18);
    font-weight: bold;
    transition: 0.3s ease;
    &:hover {
      border-radius: 30px;
      background-color: #3f414b;
      color: #fff;
      transform: scale(1.05);
    }
  }
}
