@import "variables.scss";

.wordmodal-container {
  position: fixed;
  top: 0;
  left: 0;
  @include STRETCH;
  background-color: rgba(63, 65, 75, 0.15);
  @include FLEX-CENTER;
  z-index: 10;

  .wordmodal-word-title {
    font-size: rem(50);
    font-family: $eng-title-font;
    font-weight: bold;
  }

  .wordmodal-content-container {
    padding: rem(28);
    background-color: #fff;
    width: rem(800);
    border-radius: 28px;
    @include FLEX-COLUMN;
    align-items: center;

    .wordmodal-btn-wrapper {
      width: 100%;
      @include FLEX-ALIGN-CENTER;
      justify-content: flex-start;

      &.end {
        justify-content: flex-end;
      }
    }
    .wordmodal-closebtn {
      width: rem(24);
      height: rem(24);
      cursor: pointer;
    }
  }

  .wordmodal-desc-container {
    width: 100%;
    padding: rem(23) rem(23);
    background-color: #eef4ff;
    border-radius: 26px;
    margin-top: rem(10);
    @include FLEX-ALIGN-CENTER;

    .wordmodal-index {
      @include FLEX-CENTER;
      color: #fff;
      background-color: $soft-blue;
      font-family: $eng-font;
      font-size: rem(20);
      width: rem(30);
      height: rem(30);
      border-radius: 20px;
      margin-right: rem(10);
      flex-shrink: 0;
    }

    .wordmodal-desc {
      @include FLEX-COLUMN;
      width: 100%;
      font-family: $eng-font;
      font-size: rem(24);
    }
  }

  .wordmodal-kor-trans {
    margin-top: rem(30);
    @include FLEX-COLUMN;

    .wordmodal-trans-row {
      @include FLEX-ALIGN-CENTER;
      .wordmodal-trans-level {
        width: rem(30);
        height: rem(30);
        border-radius: 30px;
        color: #fff;
        font-family: $eng-title-font;
        font-size: rem(14);
        margin-right: rem(12);
        @include FLEX-CENTER;

        &.Alv {
          background-color: $Alv;
        }
        &.Blv {
          background-color: $Blv;
        }
        &.Clv {
          background-color: $Clv;
        }
      }
      .wordmodal-trans-part {
        background-color: $soft-blue;
        color: #fff;
        width: rem(30);
        height: rem(30);
        font-size: rem(16);
        font-family: $kor-font;
        @include FLEX-CENTER;
        border-radius: 5px;
        margin-right: rem(26);
      }
      .wordmodal-trans {
        font-size: rem(24);
        font-family: $kor-font;
        font-weight: bold;
      }
    }
  }
  .wordmodal-add-btn {
    border-radius: 15px;
    background-color: $default-grey;
    padding: rem(8) rem(15);
    color: #f5f5f5;
    @include FLEX-ALIGN-CENTER;
    font-size: rem(18);
    font-family: $kor-font;
    font-weight: bold;
    margin-top: rem(10);
    transition: 0.3s ease;

    .add-btn-circle {
      @include FLEX-CENTER;
      background-color: #a0a3b5;
      width: rem(35);
      height: rem(35);
      border-radius: 35px;
    }
    .wordmodal-add-btn-icon {
      font-size: rem(35);
    }

    &:hover {
      background-color: darken($default-grey, 10%);
    }
  }
}
.hint-card-desc-row {
  line-height: 1.2;
  width: 100%;
  b {
    font-size: rem(6);
    color: $default-grey;
  }
}
.hint-card-desc-row + .hint-card-desc-row {
  margin-top: rem(8);
}
