@import "variables.scss";

.question-container {
  @include STRETCH;
  @include FLEX-COLUMN;
  align-items: center;
  margin-top: rem(30);
  justify-content: space-around;

  .question-desc-container {
    width: 80%;
    padding: rem(23) rem(23);
    background-color: #eef4ff;
    border-radius: 26px;
    @include FLEX-ALIGN-CENTER;

    .question-index {
      @include FLEX-CENTER;
      color: #fff;
      background-color: $soft-blue;
      font-family: $eng-font;
      font-size: rem(20);
      width: rem(30);
      height: rem(30);
      border-radius: 20px;
      margin-right: rem(10);
      flex-shrink: 0;
    }

    .question-desc {
      @include FLEX-CENTER;
      font-family: $eng-font;
      font-size: rem(26);
    }
    @media (max-width: 480px) {
      width: 100%;
    }
  }

  .question-kor-trans {
    @include FLEX-COLUMN;
    display: none;

    .question-trans-row {
      @include FLEX-ALIGN-CENTER;
      .question-trans-part {
        background-color: $soft-blue;
        color: #fff;
        width: rem(30);
        height: rem(30);
        font-size: rem(16);
        font-family: $kor-font;
        @include FLEX-CENTER;
        border-radius: 5px;
        margin-right: rem(26);
      }
      .question-trans {
        font-size: rem(24);
        font-family: $kor-font;
        font-weight: bold;
      }
    }
  }

  .question-input-container {
    @include FLEX-CENTER;
    width: 100%;
    flex-wrap: wrap;

    .question-input {
      width: rem(100);
      height: rem(100);
      background-color: $light-grey;
      border-radius: 12px;
      text-align: center;
      border: none;
      font-family: $eng-title-font;
      font-size: rem(50);
      font-weight: bold;
      margin-bottom: rem(4);
      margin-right: rem(30);

      @media (max-width: 480px) {
        width: rem(50);
        height: rem(50);
        font-size: rem(40);
        margin-right: rem(10);
      }
    }
  }

  .question-footer {
    width: 100%;
    @include FLEX-AROUND;
    align-items: flex-end;

    @media (max-width: 480px) {
      flex-direction: column;
    }

    .question-timer-container {
      position: relative;
      width: 80%;
      height: rem(20);
      background-color: #eeeeee;
      border-radius: 20px;
      content: "";
      display: flex;

      @media (max-width: 480px) {
        width: 100%;
      }

      @keyframes startGauge {
        0% {
          width: 0%;
        }
        100% {
          width: 100%;
        }
      }
      .timer-gauge {
        height: rem(20);
        border-radius: 20px;
        background: linear-gradient(to right, $light-blue, $soft-blue);
        animation: startGauge 10s forwards linear;
      }

      @keyframes startNeedle {
        0% {
          left: -15px;
        }
        100% {
          left: calc(100% - 15px);
        }
      }
      .timer-needle {
        position: absolute;
        top: -30px;
        width: 0px;
        height: 0px;
        border-top: 30px solid $soft-blue;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        animation: startNeedle 10s forwards linear;
      }
    }

    .question-btn-wrapper {
      width: rem(90);
      height: rem(90);
      background-color: $default-grey;
      transition: 0.3s ease;
      @include FLEX-CENTER;
      border-radius: 90px;
      cursor: pointer;

      @media (max-width: 480px) {
        margin-top: rem(30);
      }

      &:hover {
        background-color: $grey;
      }

      .next-btn {
        width: 25px;
        height: 25px;
        border-top: 8px solid #fff;
        border-left: 8px solid #fff;
        transform: rotate(135deg);
        content: "";
        background-color: transparent;
        border-color: #fff;
        border-radius: 4px;
      }
    }
  }
}
