@import "variables.scss";

.nationsnews-container {
  padding: rem(80) rem(30) rem(12) rem(110);
  width: 100%;
  height: 100vh;
  display: flex;

  @media (max-width: 480px) {
    flex-direction: column;
    padding: rem(100) rem(12);
  }

  .nationsnews-globe-container {
    width: 55%;
    padding-right: 2%;
    height: 100%;
    position: relative;
    @include FLEX-CENTER;

    .globe-box {
      width: 100%;
      height: 100%;

      @media (max-width: 480px) {
        padding: 0 3%;
        width: 100%;
        height: 300px;
      }

      &:focus-visible {
        outline: none;
      }

      > div {
        &:focus-visible {
          outline: none;
        }

        canvas {
          @include BACKGROUND-IMAGE("assets/globe-border.png");
          background-size: contain;
          background-position-x: center;
          &:focus-visible {
            outline: none;
          }
        }
      }

      .nation-info-card {
        position: absolute;
        top: 50%;
        right: 10%;
        // transform: translate(-50%, -50%);
        width: rem(280);
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 30px;
        padding: rem(20) rem(20);
        @include FLEX-COLUMN;

        @media (max-width: 480px) {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        .nation-info-flag {
          width: rem(106);
          height: rem(62);
        }

        .nation-info-name {
          font-size: rem(15);
          font-family: $eng-title-font;
          margin-top: rem(5);
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .nation-info-taglist {
          margin-top: rem(10);
          width: 100%;
          @include FLEX-ALIGN-CENTER;
          flex-wrap: wrap;

          .nation-info-tag {
            padding: rem(6);
            background-color: rgba(195, 230, 255, 0.45);
            border-radius: 6px;
            font-family: $kor-font;
            font-weight: 550;
            margin: 0 6px 6px 0;
            b {
              color: $blue;
            }
          }
        }
      }
    }

    @media (max-width: 480px) {
      width: 100%;
    }
  }

  .filter-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .nationsnews-list-container {
    width: 45%;
    height: 100%;
    @include FLEX-COLUMN;

    @media (max-width: 480px) {
      width: 100%;
      margin-top: rem(20);
    }

    .list-title-container {
      width: 100%;
      @include FLEX-ALIGN-CENTER;

      .arrow-btn-wrapper {
        margin-right: rem(25);
        .left-arrow-btn {
          width: 20px;
          height: 20px;
          border-top: 4px solid #dbe1ff;
          border-left: 4px solid #dbe1ff;
          transform: rotate(-45deg);
          content: "";
          background-color: transparent;
          border-color: #dbe1ff;
          border-radius: 2px;
          transition: 0.3s ease;

          &:hover {
            border-color: darken(#dbe1ff, 10%);
          }
        }

        .right-arrow-btn {
          width: 20px;
          height: 20px;
          border-top: 4px solid #dbe1ff;
          border-left: 4px solid #dbe1ff;
          transform: rotate(135deg);
          content: "";
          background-color: transparent;
          border-color: #dbe1ff;
          border-radius: 2px;
          transition: 0.3s ease;
          &:hover {
            border-color: darken(#dbe1ff, 10%);
          }
        }

        @media (max-width: 480px) {
          margin-bottom: rem(25);
        }
      }

      .nations-name-container {
        width: 100%;
        @include FLEX-COLUMN;
        align-items: center;

        .nation-eng-name {
          font-size: rem(50);
          font-family: $eng-title-font;
          width: 100%;
          text-align: center;

          @media (max-width: 480px) {
            font-size: rem(40);
          }
        }

        .nation-kor-name {
          font-size: rem(15);
          font-family: $kor-font;
          color: $soft-grey;
          width: 100%;
          text-align: center;
        }
      }
    }

    .nationsnews-list {
      @include STRETCH;
      overflow-y: hidden;
      @include FLEX-COLUMN;

      @media (max-width: 480px) {
        overflow-y: initial;
        margin-top: rem(20);
      }

      .nationsnews-list-list {
        width: 100%;
        overflow-y: auto;
        padding: 0 0.5rem;
      }
    }

    .nationsnews-btn-wrapper {
      width: 100%;
      margin-top: rem(10);
      @include FLEX-CENTER;
      .nationsnews-morebtn {
        width: rem(160);
        height: rem(40);
        border-radius: 15px;
        @include FLEX-CENTER;
        border: 1px solid #a0b8ff;
        background-color: #fff;
        font-size: rem(20);
        font-family: $kor-font;
        color: #6a6a6a;
        transition: 0.3s ease;
        font-weight: bold;

        &:hover {
          background-color: #a0b8ff;
          color: #fff;
        }
      }
    }
  }
}
