@import "variables.scss";

.dot {
  width: 10px;
  height: 10px;
  border: 1px solid lightgray;
  border-radius: 999px;
  transition-duration: 1000px;
  transition: 0.5s ease;
  background-color: transparent;
  background-color: $soft-blue;
  position: relative;
  z-index: 100;
  &.on {
    width: 33px;
    height: 33px;
  }
  .boundary {
    width: 50px;
    height: 50px;
    border: 1px solid $soft-blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 999px;
  }
}

.dot-container {
  position: fixed;
  top: 50%;
  right: 60px;
  transform: translate(0, -50%);
  z-index: 100;

  .dot-list {
    @include FLEX-BETWEEN;
    flex-direction: column;
    width: 20px;
    height: 150px;
    position: relative;
    .dot-line {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1px;
      height: 100%;
      background-color: $soft-blue;
    }
  }
}
