@import "variables.scss";

.header-nav {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  padding-left: 90px;
  padding-right: 40px;
  background-color: transparent;
  @media (max-width: 480px) {
    display: none;
  }
  &.active-search {
    transition: all 300ms ease;
    background-color: white;
    filter: $drop-shadow;
  }

  @include FLEX-BETWEEN;

  .login-btn {
    @include MAIN-BTN(true);
    border-radius: 17px;
    font-family: $kor-font;
    font-size: 20px;
  }
  .search-icon-wrapper {
    width: 45px;
    height: 45px;
    border-radius: 20px;
    background-color: white;
    filter: $drop-shadow;
    @include FLEX-CENTER;
    .search-icon {
      color: $dark-grey;
    }
    transition: all 300ms ease;
    &:hover {
      transform: scale(1.1);
      border: 3px solid $light-blue;
    }
    &.hidden {
      animation-name: specialFadeOut;
      animation-delay: 245ms;
      animation-duration: 400ms;
      animation-fill-mode: both;
    }
  }
  .header-right {
    @include FLEX-CENTER;
    .daily-word {
      background-color: $light-blue;
      padding: 5px 20px;
      border-radius: 10px;
      font-size: 1rem;
      font-weight: bold;
      font-family: $kor-font;
      transition: all 300ms ease;
      &:hover {
        background-color: $soft-blue;
        transform: scale(1.02);
      }
    }
    .profile-img {
      margin-left: 20px;
      cursor: pointer;
      > img {
        width: 45px;
        height: 45px;
      }
    }
    &.hidden {
      animation-name: specialFadeOut;
      animation-delay: 245ms;
      animation-duration: 400ms;
      animation-fill-mode: both;
    }
    &.visible {
      animation-name: specialFadeIn;
      animation-delay: 70ms;
      animation-duration: 400ms;
      animation-fill-mode: both;
    }
  }
}

.mobileHeader-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  height: 60px;
  width: 100%;
  filter: $drop-shadow-dark;
  background-color: $lightx2-blue;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 10px 70px;
  @include FLEX-BETWEEN;
  .earth-img {
    > img {
      width: 30px;
      cursor: pointer;
    }
  }
}

.search-container {
  position: absolute;
  top: 30%;
  display: none;
  left: 25%;
  width: 50%;
  z-index: 2;
  &.active {
    display: block;
  }
  .header-search {
    width: 100%;
    .input-search {
      border: none;
      width: 100%;
      font-size: 16px;
      font-family: $kor-font;
      color: $dark-grey;
      outline: none;
      color: $dark-grey;
      animation-name: specialFadeInLeft;
      animation-duration: 600ms;
      animation-fill-mode: both;
      transition: all ease;
      animation-delay: 350ms;
      padding: 0 20px;
      &::placeholder {
        color: $soft-grey;
      }
    }
  }
  .search {
    width: 100%;
    @include FLEX-CENTER;
    .header-icon {
      animation-name: specialFadeInLeft;
      animation-duration: 600ms;
      animation-fill-mode: both;
      animation-delay: 400ms;
      transition: all 200ms ease;
      &:hover {
        font-size: rem(18);
      }
    }
  }
}
.fade-screen {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 5;
  background-color: rgba($color: $dark-grey, $alpha: 0.2);
}

.search-list {
  position: fixed;
  top: 70px;
  width: 50%;
  padding: rem(20) rem(50);
  left: 25%;
  border-radius: 0 0 20px 20px;
  background-color: white;
  z-index: 7;
  &.visible {
    animation-name: specialSlideInRight;
    animation-delay: 300ms;
    animation-duration: 400ms;
    animation-fill-mode: both;
  }

  &.hidden {
    display: none;
  }
}
