@import "variables.scss";

.filter-btn {
  background-color: $light-blue;
  font-size: rem(18);
  font-family: $kor-font;
  padding: rem(4) rem(14);
  border-radius: 12px;
  transition: 0.3s ease;
  &:hover {
    background-color: darken($light-blue, 10%);
  }
  @include FLEX-ALIGN-CENTER;
  svg {
    color: $blue;
  }
}
