@import "variables.scss";

.filter-outside-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(133, 137, 159, 0.3);
  z-index: 100;
  font-family: $eng-title-font;
  font-weight: bold;
  color: $dark-grey;
  @include FLEX-CENTER;
}

.filter-modal-container {
  width: rem(400);
  padding: 20px;
  background-color: #fff;
  border-radius: 18px;
  @include FLEX-COLUMN;
  justify-content: space-between;

  .filter-modal-title {
    font-size: rem(20);
    font-family: $eng-title-font;
    width: 100%;
    border-bottom: 1px solid rgba(176, 176, 176, 0.2);
    line-height: 2;
  }

  .category-area {
    width: 100%;
    height: 100%;
    @include FLEX-COLUMN;
    margin: rem(10) 0;

    .main-category-container {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 16px;
      border-bottom: 1px solid $light-grey;
      margin-bottom: rem(20);
      padding-bottom: rem(10);

      .main-category-btn {
        background-color: $lightx2-blue;
        border-radius: 7px;
        width: rem(172);
        height: rem(36);
        cursor: pointer;
        @include FLEX-CENTER;
        transition: all 100ms ease;
        &:hover {
          background-color: $light-blue;
        }
        &.active {
          background-color: $light-blue;
        }

        span {
          margin-right: rem(10);
        }
      }
    }

    .sub-category-container {
      width: 100%;
      height: rem(155);
      overflow-y: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 16px;
      grid-column-gap: 10px;
      align-items: start;
      padding: 0 rem(4);

      @media (max-width: 480px) {
        grid-row-gap: 10px;
      }
      .sub-category-name {
        width: 100%;
        font-size: rem(14);
        position: relative;
        @include FLEX-CENTER;
        border-radius: 7px;
        border: 1px solid $light-blue;
        cursor: pointer;
        transition: all 300ms ease;
        color: $dark-grey;
        height: rem(40);

        &:hover {
          background-color: $lightx2-blue;
        }

        & input[type="checkbox"] {
          opacity: 0;
          &:checked ~ span {
            width: 100%;
            height: 100%;
            background-color: #e1e8ff;
          }
        }

        span {
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 7px;
          // border: 1px solid #bbcbff;
          @include FLEX-CENTER;
        }
      }
    }
  }

  .modal-submit-btn {
    background-color: $light-blue;
    width: 100%;
    height: 36px;
    border-radius: 8px;
    font-size: 16px;
    font-family: $kor-font;
    font-weight: bold;
    @include BTN-COLOR($light-blue);
    @include FLEX-CENTER;
    cursor: pointer;
    .arrow-btn-wrapper {
      .right-arrow-btn {
        width: 12px;
        height: 12px;
        border-top: 4px solid #dbe1ff;
        border-left: 4px solid #dbe1ff;
        transform: rotate(135deg);
        content: "";
        background-color: transparent;
        border-color: #dbe1ff;
        border-radius: 2px;
        transition: 0.3s ease;
      }
    }
  }
}
