@import "variables.scss";

.landing-wrapper {
  height: 100%;
  width: 100%;
  padding: 60px rem(50) 70px rem(80);
  @media (max-width: 480px) {
    padding: 65px 20px;
    overflow: hidden;
  }

  .landing-header {
    border-bottom: 1px solid $soft-grey;
    font-family: $eng-font;
    font-weight: 500;
    color: $grey;
    margin-top: 10px;
    padding: 10px;
    .logo-img {
      @include FLEX-CENTER;
      > img {
        width: 25%;
        height: auto;
      }
    }
  }
  .recommend-word {
    float: right;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: white;
    filter: $drop-shadow;
  }
  section {
    @include FLEX-COLUMN;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 7%;
    .section {
      width: 100%;
      margin-bottom: 3%;
      .section-title {
        font-family: $eng-title-font;
        padding: 3vh;
        margin-top: 5vh;
        @include FLEX-CENTER;
        @media (max-width: 480px) {
          padding: 2% 0;
          margin-top: 2%;
          font-size: 2rem;
          @include FLEX-CENTER;
        }
      }
      .section-desc {
        font-size: 1rem;
        font-family: $kor-font;
        color: $grey;
        @include FLEX-CENTER;
        .check-img {
          margin-left: 5px;
          width: 1rem;
          height: 1rem;
        }
      }
      @media (max-width: 480px) {
        margin-bottom: 10%;
      }
    }
  }
  .userfit-articles {
    margin: 15%;
    @media (max-width: 480px) {
    }
  }
  .userfit-order {
    background-color: rgba($color: $dark-grey, $alpha: 0.8);
    color: white;
    padding: 0.3rem 1rem;
    margin-top: 20px;
    border-radius: 0.7rem;
  }

  // 핫토픽
  .hottopic {
    width: 100%;
    height: 100%;
    padding: 0 6vw 0 8vw;
    @media (max-width: 480px) {
      padding: 0;
    }
    .hottopic-articles {
      @include FLEX-CENTER;
      align-items: flex-start;
      width: 100%;
      @media (max-width: 1000px) {
        @include FLEX-COLUMN;
        justify-content: center;
        align-items: center;
      }
      .hottopic-left {
        height: 100%;
        width: 100%;
        padding: rem(20);
        @media (max-width: 1000px) {
          width: 100%;
          padding: 0;
        }
        .hottopic-img {
          overflow: hidden;
          position: relative;
          width: 100%;
          border-radius: 20px;
          height: 25vw;
          @media (max-width: 1000px) {
            width: 100%;
            height: 48vw;
          }
          cursor: pointer;
          transition: all 300ms ease;
          &:hover {
            transform: scale(1.02);
            filter: $drop-shadow;
          }
          @include FLEX-CENTER;
          > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            overflow: hidden;
            @media (max-width: 1000px) {
              width: 85%;
              height: 35vw;
            }
            @media (max-width: 480px) {
              width: 100%;
              height: 47vw;
            }
          }

          .article-level {
            width: rem(28);
            height: rem(28);
            border-radius: 28px;
            color: #fff;
            font-size: rem(16);
            font-family: $eng-title-font;
            font-style: initial;
            position: absolute;
            @include FLEX-CENTER;
            top: 15px;
            left: 15px;

            &.Alv {
              background-color: $Alv;
            }
            &.Blv {
              background-color: $Blv;
            }
            &.Clv {
              background-color: $Clv;
            }
          }
        }
        .hottopic-title {
          @include ELLIPSIS-LINE(2);
          padding: 10px;
          cursor: pointer;
          color: $dark-grey;
          margin-top: 10px;
          width: 100%;
          @media (max-width: 1000px) {
            text-align: center;
          }
          @media (max-width: 480px) {
            -webkit-line-clamp: 1;
            font-size: 1.5rem;
          }
        }
        .article-category {
          float: right;
          i {
            cursor: auto;
          }
        }
        .sub {
          margin-left: rem(7);
          color: $blue;
          background-color: rgba($color: $soft-blue, $alpha: 0.3);
          border: 1px solid $soft-blue;
          i {
            font-size: 0.7rem;
            margin-right: 5px;
            cursor: auto;
          }
          @media (max-width: 480px) {
            font-size: 0.6rem;
            padding: 1px 3px;
            border-radius: 4px;
          }
        }
      }
      .hottopic-right {
        width: 100%;
        margin-left: 2.5vw;
        @media (max-width: 480px) {
          margin-top: 2%;
        }
      }
    }
  }

  // 데일리 키워드
  .daily-keyword {
    .daily-wrapper {
      width: 80%;
      @include FLEX-CENTER;
      @media (max-width: 480px) {
        @include FLEX-COLUMN;
        width: 100%;
      }
      .daily-left {
        margin-right: rem(10);
        @media (max-width: 480px) {
          width: 90%;
        }
        .key-ranking {
          @include FLEX-CENTER;
          transition: all 300ms ease;
          margin: 3% 0;
          padding: 0 1em;
          cursor: pointer;
          &.active,
          &:hover {
            transform: scale(1.001);
            background-color: white;
            border-radius: 30px;
            filter: $drop-shadow;
            .rank-content {
              font-weight: bold;
            }
          }
          @media (max-width: 480px) {
            width: 100%;
            padding: 0;
          }
          .rank {
            @include FLEX-CENTER;
            width: 2em;
            height: 2em;
            color: $white;
            border-radius: 100%;
            background-color: $blue;
            font-size: 1rem;
            font-weight: bold;
          }
          .rank-content {
            font-family: $eng-font;
            font-size: 1.3rem;
            width: 20vw;
            @include FLEX-BETWEEN;
            padding: 10px 1.5vw;
            @media (max-width: 480px) {
              width: 70%;
              font-size: 1.4rem;
              padding: 2%;
            }
            .rank-change {
              color: $soft-grey;
            }
          }
        }
      }
      .daily-right {
        @media (max-width: 480px) {
          width: 100%;
          margin-top: 5%;
          margin-left: 0;
        }
        .wordcloud-wrapper {
          @include FLEX-COLUMN;
          .wordcloud-nav {
            @include FLEX-BETWEEN;
            @media (max-width: 480px) {
              width: 100%;
            }

            .word-category {
              background-color: $lightx2-blue;
              padding: 1%;
              width: 16%;
              font-weight: bold;
              @include FLEX-CENTER;
              border-radius: 10px 10px 0 0;
              transition: all 300ms ease;
              @media (max-width: 480px) {
                font-size: 1.6rem;
              }
              &:hover {
                background-color: $soft-blue;
              }
              .category-name {
                @media (max-width: 1000px) {
                  display: none;
                }
              }
            }
            .active.word-category {
              background-color: $light-blue;
            }
          }
          .wordcloud {
            width: 50vw;
            height: 400px;
            background-color: white;
            border-radius: 0 0 30px 30px;
            @media (max-width: 480px) {
              width: 100%;
              height: 350px;
              border-radius: 0 0 20px 20px;
            }

            > div {
              @include FLEX-CENTER;

              > g {
                width: 100%;
                height: 100%;
              }

              svg > g > text:focus {
                outline: none;
              }
            }
          }
        }
      }
    }

    .wordcloud-article {
      width: 80%;
      @include FLEX-CENTER;
      flex-direction: column;
      margin-top: rem(10);

      @media (max-width: 480px) {
        width: 100%;
      }

      .newscard-container {
        max-width: 100%;
        height: rem(200);
        @media (max-width: 480px) {
          height: rem(170);
        }
        .newscard-img-container {
          width: 35%;

          @media (max-width: 480px) {
            width: 50%;
          }
        }
        .newscard-contents-container {
          width: 100%;
          @media (max-width: 480px) {
            width: 70%;
            .newscard-body {
              -webkit-line-clamp: 2;
            }
          }

          .newscard-footer .newscard-footer-right svg {
            display: none;
          }
        }

        b {
          color: $blue;
        }
      }
    }
  }
}
