@import "variables.scss";

.kor-title {
  font-family: $kor-title-font;
}
.kor-light {
  font-family: $kor-light-font;
}
.kor {
  font-family: $kor-font;
}
.eng-title {
  font-family: $eng-title-font;
}
.eng {
  font-family: $eng-font;
}
