@import "variables.scss";

.main-div {
  width: 100%;
  height: 100%;

  .login-btn {
    position: fixed;
    top: 50px;
    right: 80px;
    @include MAIN-BTN(true);
    border-radius: 17px;
    font-size: 20px;
  }
}

.main-wrapper {
  overflow-y: hidden;
  height: 100vh;
}

.main-item {
  height: 100vh;
  position: relative;
}

.divider {
  width: 100%;
  height: 5px;
}
