@import "variables.scss";

.voca-box {
  transition: all 300ms ease;
  .voca {
    &.voca-myvoca {
      padding: 6px 15px;
    }
    .memorize {
      width: rem(22);
      height: rem(22);
      margin-right: 2%;
      cursor: pointer;
      transition: all 300ms ease;
    }

    .word-myvoca {
      width: 17%;
      margin-left: 10px;
      word-break: break-all;
    }
    .blue {
      background-color: $soft-blue;
      &:hover {
        background-color: $soft-grey;
      }
    }

    .grey {
      background-color: $soft-grey;
      &:hover {
        background-color: $soft-blue;
      }
    }
  }
}

/* *************** Mobile View ********************* */
@media only screen and (max-width: 480px) {
  .voca-box {
    width: 100%;
    .voca {
      > div {
        padding: 4% 2%;
      }

      .word {
        width: 40%;
        font-size: rem(20);
      }

      .mean {
        .tag {
          padding: 2% 2.5%;
        }
      }

      .memorize {
        padding: 1%;
      }
    }
  }
}
