@import "variables.scss";

.back-btn-wrapper {
  margin-right: rem(15);
  .back-btn {
    width: 20px;
    height: 20px;
    border-top: 4px solid $dark-grey;
    border-left: 4px solid $dark-grey;
    transform: rotate(-45deg);
    content: "";
    background-color: transparent;
    border-color: $dark-grey;
    border-radius: 2px;
  }

  @media (max-width: 480px) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
