@import "variables.scss";

.voca-box {
  .voca {
    width: 100%;
    border-radius: 20px;
    background-color: white;
    margin: 15px 0;
    padding: 0 10px;
    filter: $drop-shadow;
    @include FLEX-BETWEEN;
    transition: all 300ms ease;
    &:hover {
      transform: scale(1.03);
      background-color: $lightx2-blue;
    }
    .word-index {
      background-color: $dark-grey;
      width: 25px;
      height: 25px;
      border-radius: 25px;
      color: $white;
      @include FLEX-CENTER;
      margin-right: 10px;
    }
    .word {
      padding: 10px 0;
      > p {
        text-align: center;
        background-color: #e8eeff;
        color: $dark-grey;
        border-radius: 10px;
        padding: 10px 0;
      }
      height: 100%;
      font-family: $eng-font;

      font-size: rem(20);
      font-weight: bold;
      &.word-daily {
        width: 28%;
        word-break: break-all;
      }
    }

    .mean {
      padding: 1% 1% 1% 3%;
      width: 75%;
      min-height: rem(50);
      font-family: $kor-font;
      @include FLEX-ALIGN-CENTER;

      > div {
        align-items: baseline;

        margin-bottom: 1%;

        &:last-of-type {
          margin-bottom: 0;
        }

        .kor-mean {
          line-height: 2;
        }
      }

      .tag {
        font-size: rem(13);
        font-family: $kor-font;
        padding: 1% 1.5%;
        @include FLEX-CENTER;
        border-radius: 5px;
        font-weight: normal;
        color: $white;
        margin-right: 2%;
      }

      .blue {
        background-color: $light-blue;
      }

      .orange {
        background-color: #ffc9aa;
      }

      .pink {
        background-color: #ffbbd8;
      }

      .green {
        background-color: #b6ffaa;
      }
    }

    .word-plus {
      width: 25px;
      height: 25px;
      border-radius: 25px;
      background-color: $dark-grey;
      @include FLEX-CENTER;

      > svg {
        color: white;
      }
    }
  }
}

@media (max-width: 480px) {
  .voca-box {
    width: 100%;
    > div {
      > div {
        padding: 4% 2%;
      }

      .word {
        width: 40%;
        font-size: rem(20);
      }

      .mean {
        .tag {
          padding: 2% 2.5%;
        }
      }
    }
  }
}
