@import "variables.scss";

.page-div {
  width: 100%;
  height: 100%;

  .contents-div {
    width: 100%;
    height: 100%;
    padding-left: 10%;
    @include FLEX-COLUMN;
    justify-content: space-around;

    .title-h1 {
      width: 100%;
      font-size: rem(40);
      font-family: $kor-title-font;
      b {
        color: $soft-blue;
      }
    }

    .subtitle-h3 {
      width: 100%;
      font-size: rem(22);
      font-family: $kor-light-font;
      display: flex;
      justify-content: flex-start;
      line-height: 2;
    }
  }
}
