@import "variables.scss";
.newsdetail-content-img-wrapper {
  width: 100%;
  margin-top: rem(40);
  @include FLEX-CENTER;
}
.newsdetail-content-subtitle {
}
.newsdetail-content-body {
  white-space: pre-line;

  .newsdetail-content-keyword {
    color: $soft-blue;
  }
}
