@import "variables.scss";

.left-box {
  width: 25%;
  border-radius: 36px;
  position: relative;
  display: flex;
  flex-direction: column;

  .info-box {
    margin: auto 0 rem(10) 0;
    font-size: rem(18);
    text-align: center;

    .level-box {
      position: absolute;
      left: 60px;
      top: 20px;
      width: rem(62);
      height: rem(65);
      z-index: 10;

      > img {
        width: 100%;
        height: 100%;
      }
      @media (max-width: 480px) {
        left: 120px;
        top: 25px;
      }
    }

    .img-box {
      width: rem(170);
      height: rem(170);
      transform: translateY(10%);
      margin: auto;
      position: relative;
      transition: all 1s;
      border-radius: 50%;
      box-shadow: $light-shadow;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }

      .img-hover {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: $white;
        opacity: 0;
        font-size: rem(16);
        @include FLEX-CENTER;
        border-radius: 50%;
        background-color: darken(rgba(0, 0, 0, 0.447), 10%);
      }
      &:hover {
        .img-hover {
          opacity: 1;
        }
      }
    }

    .name {
      font-size: rem(24);
      font-family: $kor-font;
      font-weight: bold;
      margin-top: rem(24);
    }

    .email {
      border-radius: 10px;
      font-family: $eng-font;
      font-size: rem(16);
      .fa-envelope {
        color: #3f414b;
      }
    }
  }

  .current {
    height: 20%;
    background-color: $lightx2-blue;
    border-radius: 30px;
    box-shadow: $light-shadow;
    padding: 2% 10%;
    margin: 3% 0;
    @include FLEX-CENTER;
    flex-direction: column;

    > div {
      @include FLEX-BETWEEN;
      width: 100%;
      padding: 3% 6%;

      svg {
        color: $blue;
      }

      p {
        font-size: rem(16);
        &:nth-of-type(1) {
          width: 60%;
        }
        &:nth-of-type(2) {
          font-weight: bold;
          color: $grey;
        }
      }
    }
  }

  .interest {
    height: 45%;
    margin-top: 3%;
    width: 100%;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: $light-shadow;
    @include FLEX-CENTER;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    padding: rem(10);

    .title {
      width: 100%;
      height: 20%;
      font-family: $eng-title-font;
      font-size: rem(20);
      font-weight: bold;
      @include FLEX-CENTER;
      position: relative;
      text-align: center;
      padding: rem(5) 0;

      p:nth-of-type(1) {
        width: 87%;
      }

      b {
        color: $soft-blue;
      }

      .icon {
        font-size: rem(16);
        color: #173042;
        cursor: pointer;
      }
    }

    .list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: start;
      grid-row-gap: 16px;
      grid-column-gap: 16px;
      padding: rem(10) rem(20);
      width: 100%;
      overflow-y: auto;

      .category-item {
        font-family: $eng-font;
        padding: 5px;
        background-color: $lightx2-blue;
        filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.05));

        border-radius: 7px;
        height: 100%;
        @include FLEX-CENTER;
        flex-direction: column;
        .main-category {
          background-color: darken($color: $lightx2-blue, $amount: 5);
          border-radius: 5px;
          @include FLEX-CENTER;
          padding: 3px;
          > i {
            margin-right: 5px;
            color: $blue;
          }
          border-bottom: 2px solid $light-blue;
        }
        p {
          font-weight: bold;
        }
        > span {
          font-weight: 500;
          padding: 3px;
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .left-box {
    width: 100%;
    height: auto;
    margin-top: rem(10);

    .info-box {
      height: 26%;
      position: relative;
      margin-bottom: rem(20);

      .profile-img {
        height: 130px;

        .level-box {
          width: rem(45);
          height: rem(45);
          left: 160px;
          top: 30px;
        }

        .img-box {
          width: 120px;
          height: 120px;
          transform: translateY(15%);
        }
      }

      .name {
        margin-top: rem(30);
        font-size: rem(22);
      }
      .email {
        font-size: rem(20);
      }
    }
    .current {
      display: none;
    }

    .interest {
      height: 195px;
      padding: rem(20);

      .title {
        font-size: rem(25);

        .fa-pencil {
          font-size: rem(23);
        }
      }
    }
  }
}
