@import "variables.scss";

.newslist-level-container {
  width: 100%;
  height: rem(70);

  @include FLEX-AROUND;

  .newslist-level {
    @include FLEX-COLUMN;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-top: 1px solid rgba(182, 182, 182, 0.8);
    border-bottom: 1px solid rgba(182, 182, 182, 0.8);
    cursor: pointer;

    &:hover {
      .star-container {
        opacity: 1;
      }
      .level-title {
        color: #000000;
      }
    }

    &.active {
      .level-title {
        color: #000000;
      }
      .star-container {
        opacity: 1;
      }
      border-bottom: 3px solid #173042;
    }

    .level-title {
      font-size: rem(20);
      font-family: $eng-font;
      color: #cccccc;
      @include FLEX-ALIGN-CENTER;

      svg {
        font-size: rem(12);
      }
      &.Alv {
        svg {
          color: $Alv;
        }
      }
      &.Blv {
        svg {
          color: $Blv;
        }
      }
      &.Clv {
        svg {
          color: $Clv;
        }
      }
    }

    .star-container {
      @include FLEX-ALIGN-CENTER;
      opacity: 0.1;
      transition: 0.3s ease;
      svg {
        color: #d1d1d1;
      }
    }
  }
}
