@import "variables.scss";

/* *************** Web View ********************* */
.auth-div {
  @include BACKGROUND-IMAGE("assets/background.png");
  @include FLEX-BETWEEN;
  width: 100%;
  height: 100vh;
  background-color: #f3f5ff;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;

  > div {
    width: 50%;
    height: 100%;
    margin: auto;
    @include FLEX-CENTER;
    flex-direction: column;
  }

  .left-div {
    > div {
      @include FLEX-CENTER;
      justify-content: flex-end;
    }
    .logo-img {
      width: 90%;
      padding-top: 4%;
      img {
        width: 80%;
      }
    }

    .earth-img {
      width: 90%;

      img {
        width: 85%;
      }
    }
  }

  .right-div {
    margin-left: 1%;
    align-items: flex-start;

    .tab {
      width: 100%;
      display: flex;
      align-items: flex-end;

      button {
        @include BTN-COLOR($soft-grey);

        padding: 2% 5%;
        font-size: rem(16);
        font-family: $kor-font;
        border-radius: 10px 10px 0 0;
        margin-right: 3%;

        &.active {
          background-color: $soft-blue;
        }
      }
    }

    .content {
      // @include BACKGROUND-IMAGE("assets/paper-background.png");
      @include FLEX-ALIGN-CENTER;
      width: 100%;
      max-width: 500px;
      height: initial;
      background-size: contain;
      padding: 5%;
      align-items: normal;
      position: relative;
      display: flex;

      .content-backgroundimg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .email-box {
        width: 100%;
        @include FLEX-BETWEEN;

        button {
          padding: 2% 4%;
          word-break: keep-all;
        }
      }

      p {
        width: 100%;
        padding: 14%;
      }

      button {
        @include BTN-COLOR($soft-blue);
        padding: 3% 9%;
        font-size: rem(16);
        font-family: $kor-font;
        border-radius: 10px;
      }

      .signup-btn {
        float: right;
      }

      .login-btn {
        width: 100%;
      }

      > form {
        width: 100%;
        height: 100%;
      }

      .login {
        .error {
          padding: 0;
          font-size: rem(14);
          margin: 2% 0 7%;
          color: rgb(252, 113, 113);
          text-align: right;
        }

        p {
          &:nth-of-type(2) {
            padding: 0;
          }
        }
      }

      .signup {
        z-index: 2;
        .email-box {
          .input-div {
            margin-bottom: 1%;
            width: 80%;
          }
        }
        > div:nth-of-type(2),
        > div:nth-of-type(4) {
          margin-bottom: 1%;
        }

        p {
          padding: 0;
          font-size: rem(12);
          margin: 2% 0;
          text-align: right;
        }
        .error {
          color: rgb(252, 113, 113);
        }
        .correct {
          color: rgb(56, 157, 56);
        }
      }
    }
  }
}

/* *************** Mobile View ********************* */
@media only screen and (max-width: 480px) {
  .background-div {
    width: 100%;
    height: 100vh;
    flex-direction: column;

    > div {
      height: auto;
    }

    .left-div {
      width: 100%;
      flex-direction: column-reverse;
      .earth-img {
        margin-left: 25%;
        width: 75%;

        img {
          width: 100%;
        }
      }

      .logo-img {
        width: 90%;
        margin: auto;

        img {
          width: 100%;
        }
      }
    }

    .right-div {
      width: 90%;
      height: 90%;
      margin: auto;

      .content {
        width: 100%;
        height: 80%;
        display: flex;
        padding: 8%;

        > div {
          width: 95%;
          padding: 8% 5% 8% 8%;
        }

        .input-div {
          margin-bottom: 7%;
          .box {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}

.input-div {
  display: flex;
  border-bottom: 1px solid #4d4d4db7;
  padding-bottom: 3%;
  margin-bottom: 9%;

  &:focus-within {
    .box {
      background-color: $soft-blue;
    }
  }

  .box {
    width: 25px;
    height: 25px;
    background-color: $soft-grey;
    margin-right: 5%;
  }

  input {
    width: 100%;
    border: 0;
    color: $grey;
    background: transparent;
    font-size: rem(19);
    font-family: $kor-font;

    &::placeholder {
      font-size: rem(19);
    }
  }

  button {
    @include BTN-COLOR($soft-grey);

    padding: 2% 5%;
    font-size: rem(16);
    font-family: $kor-font;
    border-radius: 10px 10px 0 0;
  }
}

.login {
  z-index: 2;
}
