@import "variables.scss";

.main-img {
  position: absolute;
  top: 60%;
  right: 12%;
  transform: translate(0, -50%);
  width: rem(650);
  height: rem(454);
}

.iconset-div {
  width: 100%;
  margin-top: 60px;
  @include FLEX-COLUMN;
  .icon-row {
    @include FLEX-ALIGN-CENTER;
    color: $default-grey;
    i {
      background-color: $white;
      box-shadow: $light-shadow;
      width: rem(60);
      height: rem(60);
      border-radius: 100px;
      @include FLEX-CENTER;
      margin-right: rem(30);
      font-size: rem(25);
    }
    .icon-desc {
      color: #585858;
      font-size: rem(22);
      font-family: $kor-font;
    }
  }
  .icon-row + .icon-row {
    margin-top: rem(25);
  }
}
