<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.newstudy.model.dao.NewsDao">
    <select id="selectNews" parameterType="int" resultType="newsResponseDto">
        SELECT n_id,
               c_id,
               title,
               content,
               origin,
               url,
               `level`,
               cnt,
               `date`,
               thumbnail
        FROM `news`
        WHERE n_id = #{n_id}
    </select>
    <select id="selectNewsList" parameterType="newsRequestDto" resultType="newsResponseDto">
        SELECT n_id,
        c_id,
        title,
        content,
        origin,
        url,
        `level`,
        cnt,
        `date`,
        thumbnail
        FROM `news`
        WHERE 1 = 1
        <if test="startdate != null and enddate != null">
            AND `date` between #{startdate} and #{enddate}
        </if>
        <if test="categoryid != null">
            AND c_id IN
            <foreach collection="categoryid" item="arr" index="index"  open="(" close=")" separator=",">#{arr}</foreach>
        </if>
        <if test="(titlekeyword != null and titlekeyword != '') and (contentkeyword != null and contentkeyword != '')">
            AND match(title, content) AGAINST (#{titlekeyword})
        </if>
        <if test="titlekeyword != null and titlekeyword != '' and (contentkeyword == null or contentkeyword == '')">
            AND match(title) AGAINST (#{titlekeyword})
        </if>
        <if test="contentkeyword != null and contentkeyword != '' and (titlekeyword == null or titlekeyword == '')">
            AND match(content) AGAINST (#{contentkeyword})
        </if>
        and level between #{startlevel} and #{endlevel}
        ORDER BY `date` DESC, cnt DESC
        LIMIT #{start_no}, #{per_page}
    </select>
    <select id="selectNewsListCnt" parameterType="newsRequestDto" resultType="int">
        SELECT count(*)
        FROM `news`
        WHERE 1 = 1
        <if test="startdate != null and enddate != null">
            AND `date` between #{startdate} and #{enddate}
        </if>
        <if test="categoryid != null">
            AND c_id IN
            <foreach collection="categoryid" item="arr" index="index"  open="(" close=")" separator=",">#{arr}</foreach>
        </if>
        <if test="(titlekeyword != null and titlekeyword != '') and (contentkeyword != null and contentkeyword != '')">
            AND match(title, content) AGAINST (#{titlekeyword})
        </if>
        <if test="titlekeyword != null and titlekeyword != '' and (contentkeyword == null or contentkeyword == '')">
            AND match(title) AGAINST (#{titlekeyword})
        </if>
        <if test="contentkeyword != null and contentkeyword != '' and (titlekeyword == null or titlekeyword == '')">
            AND match(content) AGAINST (#{contentkeyword})
        </if>
        and level between #{startlevel} and #{endlevel}
    </select>
    <select id="getNewsKeyword" parameterType="int" resultType="string">
        SELECT eng
        FROM `keyword`
        WHERE n_id = #{n_id}
        ORDER BY eng
    </select>
    <select id="selectNewsListOrderByCnt" resultType="newsResponseDto">
        SELECT n_id,
               c_id,
               title,
               content,
               origin,
               url,
               `level`,
               cnt,
               `date`,
               thumbnail
        FROM `news`
        WHERE `date` BETWEEN DATE(DATE_SUB(now(), INTERVAL 2 DAY)) AND now()
        ORDER BY `date` DESC, cnt DESC
            LIMIT 0, 10
    </select>
    <select id="selectRelatedNewsList" parameterType="int" resultType="newsResponseDto">
        SELECT n_id,
               c_id,
               title,
               content,
               origin,
               url,
               `level`,
               cnt,
               `date`,
               thumbnail
        FROM `news`
        WHERE n_id in (SELECT recommend FROM `ref_news` WHERE n_id = #{n_id})
        ORDER BY cnt DESC LIMIT 0, 6
    </select>
    <select id="selectRecommendNewsList" parameterType="newsRequestDto" resultType="newsResponseDto">
        SELECT * FROM (
            <if test="categoryid != null">
                (SELECT n_id,
                        c_id,
                        title,
                        content,
                        origin,
                        url,
                        `level`,
                        cnt,
                        `date`,
                        thumbnail
                 FROM `news`
                 WHERE c_id IN
                     <foreach collection="categoryid" item="arr" index="index"  open="(" close=")" separator=",">#{arr}</foreach>
                 AND `level` = #{startlevel}
                 ORDER BY `date` DESC, cnt DESC
                 LIMIT 0, 10 )
            UNION
        </if>
                (SELECT n_id,
                        c_id,
                        title,
                        content,
                        origin,
                        url,
                        `level`,
                        cnt,
                        `date`,
                        thumbnail
                  FROM `news`
                  WHERE `date` BETWEEN DATE(DATE_SUB(now(), INTERVAL 30 DAY)) AND now()
                  AND `level` = #{startlevel}
                  ORDER BY `date` DESC, cnt DESC
                  LIMIT 0, 10 )
        ) a limit 0, 10
    </select>
    <update id="updateViewCnt" parameterType="int">
        UPDATE `news`
        SET    cnt = cnt + 1
        WHERE  n_id = #{n_id}
    </update>
    <select id="selectNewsCountByCategory" parameterType="map" resultType="int">
        SELECT count(distinct n_id)
        FROM `news`
        WHERE c_id IN <foreach collection="categoryid" item="arr" index="index"  open="(" close=")" separator=",">#{arr}</foreach>
        AND match(title, content) AGAINST (#{search})
        AND level between 1 and 6
    </select>
    <select id="selectLevelListTotalCnt" parameterType="newsRequestDto" resultType="int">
        SELECT cnt
        FROM `level_count`
        WHERE `level` = #{startlevel}
    </select>
</mapper>