<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.newstudy.model.dao.NewsDao">
    <select id="selectNews" parameterType="int" resultType="newsResponseDto">
        SELECT n_id,
               c_id,
               title,
               content,
               origin,
               url,
               `level`,
               cnt,
               `date`,
               thumbnail
        FROM `NEWS`
        WHERE n_id = #{n_id}
    </select>
    <select id="selectNewsList" parameterType="newsRequestDto" resultType="newsResponseDto">
        SELECT n_id,
               c_id,
               title,
               content,
               origin,
               url,
               `level`,
               cnt,
               `date`,
               thumbnail
        FROM `NEWS`
        WHERE level between #{startlevel} and #{endlevel}
        <if test="categoryid != null">
            AND c_id IN
            <foreach collection="categoryid" item="arr" index="index"  open="(" close=")" separator=",">#{arr}</foreach>
        </if>
        <if test="startdate != null and enddate != null">
            AND date(`date`) between #{startdate} and #{enddate}
        </if>
        <if test="(titlekeyword != null and titlekeyword != '') or (contentkeyword != null and contentkeyword != '')">
            AND (
        </if>
        <if test="titlekeyword != null and titlekeyword != ''">
            title like '%${titlekeyword}%'
        </if>
        <if test="titlekeyword != null and titlekeyword != '' and contentkeyword != null and contentkeyword != ''">
            OR
        </if>
        <if test="contentkeyword != null and contentkeyword != ''">
            content like '%${contentkeyword}%'
        </if>
        <if test="(titlekeyword != null and titlekeyword != '') or (contentkeyword != null and contentkeyword != '')">
            )
        </if>
        LIMIT #{start_no}, #{per_page}
    </select>
    <select id="selectNewsListCnt" parameterType="newsRequestDto" resultType="int">
        SELECT count(*)
        FROM `NEWS`
        WHERE level between #{startlevel} and #{endlevel}
        <if test="categoryid != null">
            AND c_id IN
            <foreach collection="categoryid" item="arr" index="index"  open="(" close=")" separator=",">#{arr}</foreach>
        </if>
        <if test="startdate != null and enddate != null">
            AND date(`date`) between #{startdate} and #{enddate}
        </if>
        <if test="(titlekeyword != null and titlekeyword != '') or (contentkeyword != null and contentkeyword != '')">
            AND (
        </if>
        <if test="titlekeyword != null and titlekeyword != ''">
            title like '%${titlekeyword}%'
        </if>
        <if test="titlekeyword != null and titlekeyword != '' and contentkeyword != null and contentkeyword != ''">
            OR
        </if>
        <if test="contentkeyword != null and contentkeyword != ''">
            content like '%${contentkeyword}%'
        </if>
        <if test="(titlekeyword != null and titlekeyword != '') or (contentkeyword != null and contentkeyword != '')">
            )
        </if>
    </select>
    <select id="getNewsKeyword" parameterType="int" resultType="string">
        SELECT eng
        FROM `KEYWORD`
        WHERE n_id = #{n_id}
    </select>
    <select id="selectNewsListOrderByCnt" resultType="newsResponseDto">
        SELECT n_id,
               c_id,
               title,
               content,
               origin,
               url,
               `level`,
               cnt,
               `date`,
               thumbnail
        FROM `NEWS`
        WHERE `date` BETWEEN DATE(DATE_SUB(now(), INTERVAL 1 DAY)) AND now()
        ORDER BY cnt DESC
        LIMIT 0, 10
    </select>
    <select id="selectRelatedNewsList" parameterType="int" resultType="newsResponseDto">
        SELECT n_id,
               c_id,
               title,
               content,
               origin,
               url,
               `level`,
               cnt,
               `date`,
               thumbnail
        FROM `NEWS`
        WHERE c_id = (SELECT c_id FROM `NEWS` WHERE n_id = #{n_id})
        ORDER BY cnt DESC
        LIMIT 0, 6
    </select>
    <select id="selectRecommendNewsList" resultType="newsResponseDto">
        SELECT n_id,
        c_id,
        title,
        content,
        origin,
        url,
        `level`,
        cnt,
        `date`,
        thumbnail
        FROM `NEWS`
        ORDER BY cnt DESC
        LIMIT 0, 20
    </select>
    <update id="updateViewCnt" parameterType="int">
        UPDATE `NEWS`
        SET    cnt = cnt + 1
        WHERE  n_id = #{n_id}
    </update>
</mapper>