<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.newstudy.model.dao.NewsDao">
    <select id="selectNews" parameterType="int" resultType="newsResponseDto">
        SELECT n_id,
               c_id,
               title,
               content,
               origin,
               url,
               `level`,
               cnt,
               `date`,
               thumbnail
        FROM `news`
        WHERE n_id = #{n_id}
    </select>
    <select id="selectNewsList" parameterType="newsRequestDto" resultType="newsResponseDto">
        SELECT n_id,
        c_id,
        title,
        content,
        origin,
        url,
        `level`,
        cnt,
        `date`,
        thumbnail
        FROM `news`
        WHERE 1 = 1
        <if test="startdate != null and enddate != null">
            AND `date` between #{startdate} and #{enddate}
        </if>
        <if test="categoryid != null">
            AND c_id IN
            <foreach collection="categoryid" item="arr" index="index"  open="(" close=")" separator=",">#{arr}</foreach>
        </if>
        <if test="(titlekeyword != null and titlekeyword != '') or (contentkeyword != null and contentkeyword != '')">
            AND (
        </if>
        <if test="titlekeyword != null and titlekeyword != ''">
            title like '%${titlekeyword}%'
        </if>
        <if test="titlekeyword != null and titlekeyword != '' and contentkeyword != null and contentkeyword != ''">
            OR
        </if>
        <if test="contentkeyword != null and contentkeyword != ''">
            content like '%${contentkeyword}%'
        </if>
        <if test="(titlekeyword != null and titlekeyword != '') or (contentkeyword != null and contentkeyword != '')">
            )
        </if>
        and level between #{startlevel} and #{endlevel}
        ORDER BY `date` DESC, cnt DESC
        LIMIT #{start_no}, #{per_page}
    </select>
    <select id="selectNewsListCnt" parameterType="newsRequestDto" resultType="int">
        SELECT count(*)
        FROM `news`
        WHERE 1 = 1
        <if test="startdate != null and enddate != null">
            AND `date` between #{startdate} and #{enddate}
        </if>
        <if test="categoryid != null">
            AND c_id IN
            <foreach collection="categoryid" item="arr" index="index"  open="(" close=")" separator=",">#{arr}</foreach>
        </if>
        <if test="(titlekeyword != null and titlekeyword != '') or (contentkeyword != null and contentkeyword != '')">
            AND (
        </if>
        <if test="titlekeyword != null and titlekeyword != ''">
            title like '%${titlekeyword}%'
        </if>
        <if test="titlekeyword != null and titlekeyword != '' and contentkeyword != null and contentkeyword != ''">
            OR
        </if>
        <if test="contentkeyword != null and contentkeyword != ''">
            content like '%${contentkeyword}%'
        </if>
        <if test="(titlekeyword != null and titlekeyword != '') or (contentkeyword != null and contentkeyword != '')">
            )
        </if>
        and level between #{startlevel} and #{endlevel}
    </select>
    <select id="getNewsKeyword" parameterType="int" resultType="string">
        SELECT eng
        FROM `keyword`
        WHERE n_id = #{n_id}
        ORDER BY eng
    </select>
    <select id="selectNewsListOrderByCnt" resultType="newsResponseDto">
        SELECT n_id,
               c_id,
               title,
               content,
               origin,
               url,
               `level`,
               cnt,
               `date`,
               thumbnail
        FROM `news`
        WHERE `date` BETWEEN DATE(DATE_SUB(now(), INTERVAL 1 DAY)) AND now()
        ORDER BY cnt DESC
            LIMIT 0, 10
    </select>
    <select id="selectRelatedNewsList" parameterType="int" resultType="newsResponseDto">
        SELECT n_id,
               c_id,
               title,
               content,
               origin,
               url,
               `level`,
               cnt,
               `date`,
               thumbnail
        FROM `news`
        WHERE n_id in (SELECT recommend FROM `ref_news` WHERE n_id = #{n_id})
        ORDER BY cnt DESC LIMIT 0, 6;
    </select>
    <select id="selectRecommendNewsList" parameterType="newsRequestDto" resultType="newsResponseDto">
        SELECT n_id,
        c_id,
        title,
        content,
        origin,
        url,
        `level`,
        cnt,
        `date`,
        thumbnail
        FROM `news`
        WHERE 1 = 1
        <if test="categoryid != null">
            AND c_id IN
            <foreach collection="categoryid" item="arr" index="index"  open="(" close=")" separator=",">#{arr}</foreach>
        </if>
        AND `level` BETWEEN #{startlevel} AND #{endlevel}
        ORDER BY `date` DESC, cnt DESC
        LIMIT 0, 10
    </select>
    <update id="updateViewCnt" parameterType="int">
        UPDATE `news`
        SET    cnt = cnt + 1
        WHERE  n_id = #{n_id}
    </update>
    <select id="selectNewsCountByCategory" parameterType="map" resultType="int">
        SELECT count(distinct n_id)
        FROM `news`
        WHERE c_id IN <foreach collection="categoryid" item="arr" index="index"  open="(" close=")" separator=",">#{arr}</foreach>
        AND (
        title like '%${search}%'
        OR
        content like '%${search}%'
        )
        AND level between 1 and 6
    </select>
</mapper>