<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.newstudy.model.dao.WordDao">
    <select id="selectWordTestList" resultType="wordResponseDto">
        SELECT eng, part, `level` FROM (
            SELECT eng, part, `level`, RANK() OVER (PARTITION BY words.level ORDER BY RAND()) AS a
            FROM ref_word AS words) AS randwords
        WHERE randwords.a <![CDATA[ <= ]]> 5
    </select>
    <select id="selectWordGameList" resultType="wordResponseDto">
        SELECT eng, part, `level`, `description`, `kor` FROM (
            SELECT eng, part, `level`, `description`, `kor`, RANK() OVER (ORDER BY RAND()) AS a
            FROM ref_word AS words
            WHERE eng NOT IN (SELECT eng
                FROM ref_word
                WHERE eng LIKE '% %' OR eng LIKE '%(%' OR eng LIKE '%-%')
                AND CHAR_LENGTH(eng) <![CDATA[ <= ]]> 8
            ) AS randwords
        WHERE randwords.a <![CDATA[ <= ]]> 10
    </select>
</mapper>